### 1章 セレクションバイアスとRCT

In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import random

In [2]:
pd.set_option('max_columns', 500)
pd.set_option('max_rows', 500)

from IPython.display import display

In [3]:
ulr = "http://www.minethatdata.com/Kevin_Hillstrom_MineThatData_E-MailAnalytics_DataMiningChallenge_2008.03.20.csv"

In [4]:
data = pd.read_csv(ulr)

### dataの各カラムの内容は下記サイト参照
https://blog.minethatdata.com/2008/03/minethatdata-e-mail-analytics-and-data.html

### データの概要

In [5]:
display(data.head(3))
display(data.tail(3))
display(data.shape)
display(data.dtypes)

,recency,history_segment,history,mens,womens,zip_code,newbie,channel,segment,visit,conversion,spend
0,10,2) $100 - $200,142.44,1,0,Surburban,0,Phone,Womens E-Mail,0,0,0.0
1,6,3) $200 - $350,329.08,1,1,Rural,1,Web,No E-Mail,0,0,0.0
2,7,2) $100 - $200,180.65,0,1,Surburban,1,Web,Womens E-Mail,0,0,0.0

,recency,history_segment,history,mens,womens,zip_code,newbie,channel,segment,visit,conversion,spend
63997,6,1) $0 - $100,29.99,1,0,Urban,1,Phone,Mens E-Mail,0,0,0.0
63998,1,5) $500 - $750,552.94,1,0,Surburban,1,Multichannel,Womens E-Mail,0,0,0.0
63999,1,4) $350 - $500,472.82,0,1,Surburban,0,Web,Mens E-Mail,0,0,0.0

(64000, 12)

recency              int64
history_segment     object
history            float64
mens                 int64
womens               int64
zip_code            object
newbie               int64
channel             object
segment             object
visit                int64
conversion           int64
spend              float64
dtype: object

In [6]:
display(data.describe(include='all'))

,recency,history_segment,history,mens,womens,zip_code,newbie,channel,segment,visit,conversion,spend
count,64000.000000,64000,64000.000000,64000.000000,64000.000000,64000,64000.000000,64000,64000,64000.000000,64000.000000,64000.000000
unique,NaN,7,NaN,NaN,NaN,3,NaN,3,3,NaN,NaN,NaN
top,NaN,1) $0 - $100,NaN,NaN,NaN,Surburban,NaN,Web,Womens E-Mail,NaN,NaN,NaN
freq,NaN,22970,NaN,NaN,NaN,28776,NaN,28217,21387,NaN,NaN,NaN
mean,5.763734,NaN,242.085656,0.551031,0.549719,NaN,0.502250,NaN,NaN,0.146781,0.009031,1.050908
std,3.507592,NaN,256.158608,0.497393,0.497526,NaN,0.499999,NaN,NaN,0.353890,0.094604,15.036448
min,1.000000,NaN,29.990000,0.000000,0.000000,NaN,0.000000,NaN,NaN,0.000000,0.000000,0.000000
25%,2.000000,NaN,64.660000,0.000000,0.000000,NaN,0.000000,NaN,NaN,0.000000,0.000000,0.000000
50%,6.000000,NaN,158.110000,1.000000,1.000000,NaN,1.000000,NaN,NaN,0.000000,0.000000,0.000000
75%,9.000000,NaN,325.657500,1.000000,1.000000,NaN,1.000000,NaN,NaN,0.000000,0.000000,0.000000
max,12.000000,NaN,3345.930000,1.000000,1.000000,NaN,1.000000,NaN,NaN,1.000000,1.000000,499.000000

In [7]:
for i in data.columns:
    print(f"{i}: {np.sort(data[i].unique())}\n")

recency: [ 1  2  3  4  5  6  7  8  9 10 11 12]

history_segment: ['1) $0 - $100' '2) $100 - $200' '3) $200 - $350' '4) $350 - $500'
 '5) $500 - $750' '6) $750 - $1,000' '7) $1,000 +']

history: [  29.99   30.     30.01 ... 3040.2  3215.97 3345.93]

mens: [0 1]

womens: [0 1]

zip_code: ['Rural' 'Surburban' 'Urban']

newbie: [0 1]

channel: ['Multichannel' 'Phone' 'Web']

segment: ['Mens E-Mail' 'No E-Mail' 'Womens E-Mail']

visit: [0 1]

conversion: [0 1]

spend: [  0.    29.99  30.24  30.7   30.94  30.98  31.03  32.07  32.17  32.21
  32.22  32.43  32.51  32.99  33.02  33.13  33.32  33.45  33.51  33.66
  33.68  34.02  34.05  34.1   34.38  34.6   34.66  35.2   35.51  36.07
  36.09  36.16  36.18  36.2   36.71  36.82  36.89  37.27  37.42  37.65
  37.79  37.87  38.12  38.23  38.85  39.81  39.91  40.43  41.18  41.38
  41.45  42.66  43.49  43.7   43.84  43.9   43.96  44.12  44.14  44.26
  44.64  44.7   45.18  45.83  46.38  46.77  47.36  47.39  47.53  47.7
  47.87  47.98  49.21  49.55  49.7   49.79  50.    50.29  50.68  51.92
  51.99  52.35  52.67  52.88  53.67  53.72  53.98  55.02  55.09  55.71
  56.63  56.86  57.31  57.73  57.9   58.13  58.39  59.05  59.32  60.62
  60.65  60.78  60.81  60.9   60.97  61.03  61.06  61.11  61.62  62.12
  62.68  62.9   64.45  64.93  65.49  66.17  66.28  66.31  66.76  66.84
  66.98  67.33  68.37  68.64  69.05  69.06  69.1   69.25  69.71  69.9
  69.99  70.4   70.8   70.85  71.75  72.05  72.41  72.95  73.51  73.77
  73.81  73.82  75.22  75.41  75.52  76.16  76.51  76.61  77.34  78.17
  78.87  79.91  80.14  80.58  81.01  81.64  82.51  83.07  83.26  83.3
  83.31  83.91  84.05  85.21  85.4   85.41  86.78  87.4   87.53  87.82
  88.    88.56  89.71  89.75  89.95  90.15  90.36  90.42  90.57  91.08
  91.53  91.59  91.75  91.76  91.92  92.24  92.44  93.06  93.22  94.5
  94.71  95.29  95.41  95.63  95.77  96.28  96.42  96.88  97.23  97.27
  97.38  97.92  98.26  98.31  98.5   99.02  99.49  99.89 100.45 100.63
 100.75 101.06 101.09 102.24 102.47 102.84 103.93 104.22 104.47 105.04
 105.54 106.61 106.97 108.32 108.36 109.35 109.64 110.13 110.36 110.71
 111.46 111.84 112.69 112.94 113.44 113.8  113.83 114.43 114.53 115.33
 116.09 116.1  116.45 117.5  117.84 118.39 119.31 120.14 120.43 120.91
 121.45 122.38 123.68 123.87 124.07 125.56 126.66 126.77 126.96 127.17
 130.14 130.2  132.2  133.89 134.86 136.21 137.27 137.87 138.92 139.55
 140.24 141.08 141.24 141.31 142.53 143.52 144.22 144.3  144.51 146.2
 146.33 146.55 146.82 147.19 147.37 148.11 148.61 148.86 149.28 149.58
 149.91 150.72 150.99 152.08 152.35 153.09 153.29 153.37 153.91 154.2
 155.75 156.58 158.96 159.46 159.54 159.99 161.61 162.21 163.19 163.79
 164.31 164.53 164.99 167.45 168.51 168.98 169.47 170.39 171.35 172.53
 172.74 173.02 176.11 176.88 177.91 178.78 181.18 181.39 182.67 182.91
 184.3  184.71 188.21 188.95 189.3  189.79 190.74 191.28 191.63 192.64
 192.83 193.02 193.25 194.41 195.7  195.83 195.99 198.45 201.87 202.49
 202.6  204.08 206.43 206.76 208.87 209.68 210.44 210.65 211.24 212.18
 212.94 215.54 219.81 220.96 221.03 223.57 225.96 227.54 228.71 228.99
 229.41 230.46 230.91 231.94 237.07 242.28 243.66 244.15 245.84 246.9
 246.94 248.04 256.05 257.51 264.66 267.17 270.71 271.51 273.8  275.73
 276.67 276.77 292.16 295.21 298.33 300.8  304.66 309.08 309.54 316.08
 328.36 334.03 341.   342.64 346.64 347.49 348.12 350.17 358.29 359.35
 359.97 362.2  363.23 379.91 382.78 384.83 385.28 393.43 395.24 397.29
 397.32 414.08 421.17 421.76 444.33 444.92 462.78 482.31 499.  ]

In [8]:
for i in data.columns:
    print(f"{i}\n{data[i].value_counts(sort=False)}\n")

recency
1     8952
2     7537
3     5904
4     5077
5     4510
6     4605
7     4078
8     3495
9     6441
10    7565
11    3504
12    2332
Name: recency, dtype: int64

history_segment
6) $750 - $1,000     1859
2) $100 - $200      14254
4) $350 - $500       6409
3) $200 - $350      12289
7) $1,000 +          1308
1) $0 - $100        22970
5) $500 - $750       4911
Name: history_segment, dtype: int64

history
104.00    1
128.00    2
48.00     3
64.00     2
253.59    1
         ..
350.81    1
506.82    1
88.67     3
381.09    1
240.04    2
Name: history, Length: 34833, dtype: int64

mens
0    28734
1    35266
Name: mens, dtype: int64

womens
0    28818
1    35182
Name: womens, dtype: int64

zip_code
Urban        25661
Rural         9563
Surburban    28776
Name: zip_code, dtype: int64

newbie
0    31856
1    32144
Name: newbie, dtype: int64

channel
Web             28217
Phone           28021
Multichannel     7762
Name: channel, dtype: int64

segment
Mens E-Mail      21307
No E-Mail        21306
Womens E-Mail    21387
Name: segment, dtype: int64

visit
0    54606
1     9394
Name: visit, dtype: int64

conversion
0    63422
1      578
Name: conversion, dtype: int64

spend
0.00      63422
32.43         1
56.86         1
44.64         1
53.72         1
76.16         1
75.52         1
33.51         1
202.60        1
34.60         1
113.44        1
36.16         1
95.29         1
163.19        1
69.99         1
101.06        1
482.31        1
202.49        1
36.82         1
78.17         1
395.24        1
215.54        1
69.05         1
33.32         1
37.42         1
111.46        1
346.64        1
90.15         1
359.97        1
91.92         1
36.18         1
36.07         1
210.44        1
36.89         1
80.14         1
61.03         1
99.02         1
62.90         1
38.85         1
271.51        1
193.25        1
132.20        1
41.45         1
164.99        1
144.22        1
309.54        1
98.31         1
116.09        1
230.46        1
110.13        1
29.99       136
33.45         1
171.35        1
35.20         1
298.33        1
81.64         1
44.14         1
55.71         1
137.27        1
167.45        1
96.28         1
117.84        1
66.98         1
31.03         1
34.10         1
267.17        1
156.58        1
76.51         1
49.70         1
161.61        1
127.17        1
154.20        1
85.41         1
95.63         1
68.37         1
84.05         1
273.80        1
38.12         1
130.14        1
64.93         1
204.08        1
46.38         1
55.02         1
152.35        1
37.65         1
176.11        1
242.28        1
104.22        1
43.96         1
198.45        1
342.64        1
77.34         1
379.91        1
206.76        1
73.82         1
36.09         1
110.71        1
168.98        1
49.55         1
228.71        1
94.71         1
89.75         1
178.78        1
104.47        1
83.31         1
101.09        1
120.43        1
141.08        1
126.96        1
275.73        1
58.13         1
92.24         1
149.28        1
137.87        1
421.76        1
88.56         1
66.76         1
102.84        1
32.99         1
123.68        1
85.21         1
36.20         1
227.54        1
192.64        1
106.61        1
231.94        1
73.77         1
100.63        1
190.74        1
86.78         1
138.92        1
143.52        1
47.87         1
144.30        1
163.79        1
98.50         1
133.89        1
41.18         1
75.22         1
32.07         1
50.29         1
60.97         1
126.66        1
32.51         1
316.08        1
39.81         1
43.90         1
421.17        1
69.71         1
237.07        1
168.51        2
181.39        1
246.94        1
91.53         1
97.27         1
97.23         1
90.57         1
134.86        1
164.53        1
46.77         1
153.91        1
153.09        1
208.87        1
162.21        1
159.99        1
51.92         1
88.00         1
66.28         1
32.22         1
60.78         1
146.55        1
111.84        1
44.26         1
225.96        1
140.24        1
257.51        1
33.66         1
47.98         1
62.68         1
173.02        1
147.37        1
44.70         1
99.89         1
304.66        1
106.97        1
73.81         1
95.41         1
292.16        1
172.74        1
182.91        1
62.12         1
83.07         1
34.02         1
38.23         1
164.31        1
195.70        1
148.11        1
150.72        1
61.11         1
112.94        1
32.21         1
141.24        1
70.80         1
359.35        1
39.91         1
384.83        1
146.20        1
91.75         1
462.78        1
148.61        1
276.77        1
212.94        1
114.53        1
90.36         1
112.69        1
130.20        1
34.38         1
34.66         1
79.91         1
78.87         1
114.43        1
102.24        1
223.57        1
206.43        1
334.03        1
50.00         1
68.64         1
90.42         1
209.68        1
414.08        1
51.99         1
60.65         1
40.43         1
295.21        1
87.40         1
108.32        1
73.51         1
70.40         1
69.06         1
393.43        1
358.29        1
385.28        1
76.61         1
182.67        1
66.17         1
72.41         1
95.77         1
159.46        1
147.19        1
121.45        1
347.49        1
124.07        1
350.17        1
169.47        1
57.73         1
52.88         1
70.85         1
159.54        1
210.65        1
444.33        1
108.36        1
243.66        1
93.22         1
245.84        1
32.17         1
35.51         1
158.96        1
122.38        1
211.24        1
60.90         1
219.81        1
229.41        1
81.01         1
65.49         2
191.63        1
59.05         1
499.00       12
188.95        1
113.80        1
120.91        1
444.92        1
89.95         1
53.98         1
149.91        1
56.63         1
60.62         1
189.30        1
195.99        1
109.64        1
91.08         1
45.18         1
43.49         1
47.70         1
42.66         1
256.05        1
193.02        1
43.70         1
116.10        1
67.33         1
341.00        1
170.39        1
264.66        1
397.32        1
146.82        1
126.77        1
72.05         1
64.45         1
148.86        1
33.02         1
230.91        1
189.79        1
117.50        1
50.68         1
58.39         1
120.14        1
49.79         1
30.98         1
47.53         1
52.67         1
220.96        1
52.35         1
149.58        1
119.31        1
49.21         1
72.95         1
100.45        1
155.75        1
37.27         1
33.68         1
44.12         1
188.21        1
59.32         1
96.42         1
66.84         1
96.88         1
83.30         1
300.80        1
43.84         1
221.03        1
153.37        1
328.36        1
176.88        1
146.33        1
348.12        1
181.18        1
246.90        1
103.93        1
105.04        1
30.94         1
37.87         1
201.87        1
184.30        1
150.99        1
270.71        1
37.79         1
94.50         1
110.36        1
195.83        1
80.58         1
57.90         1
33.13         1
89.71         1
99.49         1
34.05         1
144.51        1
276.67        1
118.39        1
87.53         1
212.18        1
309.08        1
123.87        1
172.53        1
105.54        1
177.91        1
83.26         2
61.62         1
397.29        1
191.28        1
192.83        1
47.36         1
36.71         1
92.44         1
125.56        1
61.06         1
66.31         1
194.41        1
82.51         1
85.40         1
153.29        1
115.33        1
244.15        1
75.41         1
91.59         1
100.75        1
41.38         1
228.99        1
47.39         1
97.92         1
93.06         1
139.55        1
45.83         1
53.67         1
248.04        1
97.38         1
57.31         1
30.70         1
87.82         1
55.09         1
69.10         1
69.90         1
152.08        1
184.71        1
71.75         1
382.78        1
363.23        1
102.47        1
113.83        1
60.81         1
83.91         1
362.20        2
116.45        1
142.53        1
30.24         1
141.31        1
69.25         1
98.26         1
109.35        1
91.76         1
136.21        1
Name: spend, dtype: int64

### データの準備

In [9]:
# 女性向けメールを除いたデータセットを作成
male_data = data[data["segment"] != "Womens E-Mail"]
male_data["segment"].unique()

array(['No E-Mail', 'Mens E-Mail'], dtype=object)

In [10]:
# 介入の有無(Mens E-Mail なら 1、そうでなければ 0)を表す treatment 変数を追加
male_data["treatment"] = 0
male_data["treatment"].mask(male_data["segment"] == "Mens E-Mail", 1, inplace=True)
male_data.head(5)

C:\Users\kojis\anaconda3\envs\Pip ML\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\kojis\anaconda3\envs\Pip ML\lib\site-packages\pandas\core\generic.py:8993: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cond, other, inplace, axis, level, errors=errors, try_cast=try_cast

,recency,history_segment,history,mens,womens,zip_code,newbie,channel,segment,visit,conversion,spend,treatment
1,6,3) $200 - $350,329.08,1,1,Rural,1,Web,No E-Mail,0,0,0.0,0
3,9,5) $500 - $750,675.83,1,0,Rural,1,Web,Mens E-Mail,0,0,0.0,1
8,9,5) $500 - $750,675.07,1,1,Rural,1,Phone,Mens E-Mail,0,0,0.0,1
13,2,2) $100 - $200,101.64,0,1,Urban,0,Web,Mens E-Mail,1,0,0.0,1
14,4,3) $200 - $350,241.42,0,1,Rural,1,Multichannel,No E-Mail,0,0,0.0,0

### RCTデータの集計と有意差検定

### 集計

In [11]:
# メールが配信されたグループとされなかったグループでの購入の発生確率(conversion)と購入額(spend)の平均を計算
male_data.groupby("treatment").mean()[["conversion", "spend"]]

           conversion     spend
treatment
0            0.005726  0.652789
1            0.012531  1.422617

In [12]:
# メールが配信されたグループとされなかったグループのカウント数
male_data.groupby("treatment").count()[["conversion", "spend"]]

           conversion  spend
treatment
0               21306  21306
1               21307  21307

In [13]:
# メールが配信されたグループとされなかったグループのカウント数
male_data.groupby("segment").count()[["conversion", "spend"]]

             conversion  spend
segment
Mens E-Mail       21307  21307
No E-Mail         21306  21306

### 有意差検定

In [14]:
# 男性向けメールが配信されたグループの購買データ
mens_mail = male_data[male_data["treatment"] == 1]["spend"]

In [15]:
# メールが配信されなかったグループの購買データ
no_mail = male_data[male_data["treatment"] == 0]["spend"]

In [16]:
# 2群間でのt検定　p-valueは1.163e-07 と小さいので有意
stats.ttest_ind(mens_mail, no_mail, equal_var=True)

Ttest_indResult(statistic=5.300090294465472, pvalue=1.163200872605869e-07)

### バイアスのあるデータによる効果の検証

### バイアスのあるデータの作成

In [17]:
# 去年の購入額(history)が一定以下のデータをランダムに50%削除し、バイアスを作る

# メールが配信されていないグループでは、下記3つの条件のどれかに該当するデータをランダムに半分選んで削除する
#「去年の購入額であるhistoryが300より小さい場合」、
#「最後の購入であるrecencyが3より小さい場合」
#「接触チャネル channelが複数あることを表すMultichannelである場合」

# メールが配信されているグループでは、先ほどの3つの条件に該当しないデータをランダムに半分選んで削除する

# すなわち、購買意欲の高いユーザーにメールが多く配信されたデータを作成

In [18]:
biased_data = male_data.copy()

In [19]:
# メールが配信されておらず、かつ、3つの条件のいずれかを満たす（＝購買意欲が高い）データ
# これを半分削除することで、メールが配信されていないグループには購買意欲が低い人たちが残る
fulfill_cond_data = male_data[((male_data["treatment"] == 0) & ((male_data["history"] > 300) | (male_data["recency"] < 6) | (biased_data["channel"] == "Multichannel")))]
fulfill_cond_data.shape

(13099, 13)

In [20]:
# メールが配信されており、かつ、3つの条件のいずれも満たさない(=購買意欲が低い)データ
# これを半分削除することで、メールが配信されているグループには購買意欲が高い人が値が残る
non_fulfill_cond_data = male_data[((biased_data["treatment"] == 1) & (male_data["history"] <= 300) & (male_data["recency"] >= 6) & (male_data["channel"] != "Multichannel"))]
non_fulfill_cond_data.shape

(8277, 13)

In [21]:
# 条件を満たすデータから半分抽出する
fulfill_cond_data.sample(frac=0.5, random_state=42)

,recency,history_segment,history,mens,womens,zip_code,newbie,channel,segment,visit,conversion,spend,treatment
21259,1,1) $0 - $100,81.55,1,0,Surburban,0,Phone,No E-Mail,0,0,0.00,0
37881,3,2) $100 - $200,187.30,1,0,Urban,0,Web,No E-Mail,1,1,75.41,0
17308,4,1) $0 - $100,31.65,0,1,Surburban,1,Phone,No E-Mail,0,0,0.00,0
6184,2,2) $100 - $200,133.37,1,0,Surburban,1,Phone,No E-Mail,0,0,0.00,0
3546,1,5) $500 - $750,516.70,0,1,Surburban,1,Phone,No E-Mail,0,0,0.00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25295,4,3) $200 - $350,249.87,1,1,Urban,0,Web,No E-Mail,0,0,0.00,0
42959,4,1) $0 - $100,89.11,0,1,Surburban,0,Web,No E-Mail,0,0,0.00,0
17485,2,2) $100 - $200,125.28,1,0,Urban,0,Phone,No E-Mail,0,0,0.00,0
22410,5,3) $200 - $350,224.88,1,0,Urban,0,Multichannel,No E-Mail,0,0,0.00,0
41471,2,1) $0 - $100,29.99,1,0,Surburban,0,Phone,No E-Mail,0,0,0.00,0

In [22]:
# 条件を満たすデータの半分を削除する
biased_data.drop(fulfill_cond_data.sample(frac=0.5, random_state=42).index, inplace=True)

In [23]:
# 条件を満さないデータから半分抽出する
non_fulfill_cond_data.sample(frac=0.5, random_state=42)

,recency,history_segment,history,mens,womens,zip_code,newbie,channel,segment,visit,conversion,spend,treatment
12028,10,1) $0 - $100,29.99,1,0,Surburban,1,Phone,Mens E-Mail,0,0,0.0,1
27737,12,1) $0 - $100,29.99,0,1,Urban,0,Phone,Mens E-Mail,0,0,0.0,1
46714,8,3) $200 - $350,202.80,0,1,Surburban,1,Phone,Mens E-Mail,0,0,0.0,1
20422,10,2) $100 - $200,134.31,0,1,Surburban,0,Phone,Mens E-Mail,0,0,0.0,1
13577,11,1) $0 - $100,84.54,0,1,Urban,1,Web,Mens E-Mail,0,0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25243,7,2) $100 - $200,159.08,0,1,Surburban,1,Phone,Mens E-Mail,0,0,0.0,1
11043,10,1) $0 - $100,35.77,0,1,Surburban,0,Phone,Mens E-Mail,0,0,0.0,1
30964,8,1) $0 - $100,67.77,0,1,Urban,0,Phone,Mens E-Mail,0,0,0.0,1
35606,6,1) $0 - $100,95.77,0,1,Surburban,0,Phone,Mens E-Mail,0,0,0.0,1
38725,12,3) $200 - $350,243.51,0,1,Urban,0,Phone,Mens E-Mail,0,0,0.0,1

In [24]:
# 条件を満たさないデータの半分を削除する
biased_data.drop(non_fulfill_cond_data.sample(frac=0.5, random_state=42).index, inplace=True)

In [25]:
biased_data.shape

(31925, 13)

### 集計

In [26]:
# メールが配信されたグループとされなかったグループでの購入の発生確率(conversion)と購入額(spend)の平均を計算
display(biased_data.groupby("treatment").mean()[["conversion", "spend"]])

# メールが配信されたグループとされなかったグループのカウント数
# 書籍と微妙に数値が違うが理由はわからない
display(biased_data.groupby("treatment").count()[["conversion", "spend"]])

print("\n比較 バイアスなしデータ")
display(male_data.groupby("treatment").mean()[["conversion", "spend"]])
display(male_data.groupby("treatment").count()[["conversion", "spend"]])

           conversion     spend
treatment
0            0.004947  0.639756
1            0.013920  1.591952

           conversion  spend
treatment
0               14756  14756
1               17169  17169

比較 バイアスなしデータ

           conversion     spend
treatment
0            0.005726  0.652789
1            0.012531  1.422617

           conversion  spend
treatment
0               21306  21306
1               21307  21307

In [27]:
# 男性向けメールが配信されたグループの購買データ
bias_mens_mail = biased_data[biased_data["treatment"] == 1]["spend"]

# メールが配信されなかったグループの購買データ
bias_no_mail = biased_data[biased_data["treatment"] == 0]["spend"]

In [28]:
print("(参考) バイアスあり")
# 2群間でのt検定 書籍と違い、バイアスのないデータよりも p値は 1.27e-07 と若干高い
display(stats.ttest_ind(bias_mens_mail, bias_no_mail, equal_var=True))

# 2群間でのt検定 p-valueは1.163e-07 と小さいので有意
print("\n(再掲)バイアスなし")
display(stats.ttest_ind(mens_mail, no_mail, equal_var=True))

(参考) バイアスあり

Ttest_indResult(statistic=5.283787889513689, pvalue=1.273689559022462e-07)

(再掲)バイアスなし

Ttest_indResult(statistic=5.300090294465472, pvalue=1.163200872605869e-07)

### データのCSV出力

In [29]:
male_data.to_csv('male_data.csv', index=False)

biased_data.to_csv('biased_data.csv', index=False)